* {
margin: 0;
padding: 0;
}
html {
	height: 100%;
}
body{
    background-color: #C0C0C0;
    height:100%
}

hr{
    width:100%;
    height: 5px;
    color: #6817b4;
    background-color: #6817b4;
    margin-top:0px;
    
}
.Decision{
    padding:5%;
    background-color: #C0C0C0;
    
    text-align: center;
    width:100%;
    height:60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    
    min-width:500px;
    max-width:1000px;
    min-height:400px;
    max-height:400px;
    

}

.HomeBorder{
    width:18%;
    height:100%;
    max-width:180px;
    max-height:50px;
    
}

.HomeWrapper{
    padding-top:10%;
    width:100%;
    height:40%;
    position:relative;bottom:0%;left:0%;
    text-decoration: none;

}

.Home{
    width:100%
    height:100%
    text-align:left;
    padding-left:5%;
    font-family:arial; 
    color:white;
    background-image: url(../img/home.png);
    background-size: 20% 60%;
    background-position:90% 50%;
    background-repeat: no-repeat;
    font-size: 40px;
    background-color:#6817b4;
}

.Dec1{
    
    width:45%;
    height:100%;
    background-color: white; 
    display:inline-block;  

}

.Dec2{
    
    width:45%;
    height:100%;
    background-color: white;
    display:inline-block;

}

.SearchBox{ 
    
    margin-top:59%; 
    width:100%;
    height:20%;
    
    
} 

#SearchBoxText1{
    background-color: lightgrey;
    width:60%;
    height:40%;
    
    
    color:black;
    font-size: 25px;

}
#SearchBoxText2{
    background-color: lightgrey;
    width:60%;
    height:15%;
    min-height:40px;
    
    color:black;
    font-size: 25px;
}

.imgBtn { 
    width: 6%; } 


.Decision img{
    width:100%;
    height:100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display:inline-block;
}


